@require './variables.styl'
@require './common.blocks/container/container.styl'
@require './common.blocks/page/page.styl'

body
	margin: 0
	font-family: 'Montserrat', sans-serif
	color: $fontColor
h1
	margin: 0