$isDarkTheme = true

if $isDarkTheme
	$fontColor = #B5B5B5
	$pageBg = #121212
	$containerBg = #1E1E1E
	$headerBg = #4a148c
	$sidebarBg = #272727
	$containerShadows = none
else
	$fontColor = #4A4A4A
	$pageBg = #eeeeee
	$containerBg = #ffffff
	$headerBg = #ce93d8
	$sidebarBg = #c5cae9
	$containerShadows = 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)